<ion-content>

  <div class="container-box">

    <h1>{{text}}</h1>{{funmap()}}
    <ion-list>
      <ion-item *ngFor="let x of option">
        <input id={{x}} type="checkbox" name="xyzw">
        <label for={{x}} class="labelclass">{{x}}</label>
      </ion-item>

      <ion-item *ngIf="other=='true'">
        <input type="checkbox" id="abcde">
        <label for="abcde" class="labelclass">Other Specify<input type="text"></label>
      </ion-item>

      <ion-item *ngIf="NOTA=='true'">
        <input type="checkbox" id="abc">
        <label for="abc" class="labelclass">None of the Above</label>
      </ion-item>

    </ion-list>
  </div>

</ion-content>