ion-content {
    --ion-background-color:#98b4d4;
}

.container-box{
    width: 70%;
    margin: 80px auto;
    // border: 1px solid black;
    background-color: #fff!important;
    padding: 10px 0px 30px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

ion-item{
    --ion-background-color: #fff!important;
    border: none!important;
    border-width: 0;
    --inner-border-width: 0 0 0 0;
}

ion-list{
    --ion-background-color: #fff!important;
    padding-top: 20px;
}

.labelclass{
    width: 50%;
    padding: 10px 20px;
    margin: 0px 0px 7px 20px;
    // background-color: rgb(109, 185, 156);
    border-radius: 10px;
    border: 1px solid grey;
    cursor: pointer;
}

input[type=checkbox]:checked ~ .labelclass {
    background-color: #98b4d4;
    font-weight: bold;
}

// input:checked + label {
//     background-color: #98b4d4;
//     font-weight: bold;
// }

// input[type=checkbox]{
//     display: none;
// }

input[type=text]{
    margin-left: 20px;
    font-size: 24px;
}