{{funmap()}}

<ion-content >
  <div class="container-box">
    <h1>{{text}}</h1>
    <form action="/action_page.php">
    <ion-list >
      
      <ion-item *ngFor="let entry of option">
        <input slot="start" id={{entry}} type="radio" name="xyz"  value="{{entry}}">
        <label for={{entry}} class="labelclass">{{entry}}</label >
      </ion-item>

      <ion-item *ngIf="other=='true'">
        <input slot="start" id='abc' type="radio" name="xyz" value="abc">
        <label for='abc' class="labelclass">Other Specify<input type="text" ></label>
      </ion-item>

      <ion-item *ngIf="NOTA=='true'">
        <input slot="start" id='nota' type="radio" name="xyz" value="nota">
        <label for='nota' class="labelclass">None of the Above</label>
      </ion-item>
      
    </ion-list>
  </form>
  </div>
  
</ion-content>
