ion-content {
    --ion-background-color:#98b4d4;
}

.container-box{
    display: grid;
    grid-template-columns: auto;
    background-color: #fff;
    width: 70%;
    margin: 80px auto;
    padding: 30px 30px 30px 20px;
    // padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

ion-item{
    --ion-background-color: #fff!important;
    border: none!important;
    border-width: 0;
    --inner-border-width: 0 0 0 0;
}

ion-list{
    --ion-background-color: #fff!important;
    padding-top: 20px;
}

.question-text{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.603);
    width: -webkit-fill-available;
    // position: absolute;
}

.text-container{
    margin-left: 10px;
    width: -webkit-fill-available;
}

textarea{
    width: 99%;
    background: #e3e3e3;
    box-shadow: inset 5px 5px 12px #aaaaaa,
                inset -5px -5px 12px #ffffff;
    border: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 10px 10px 10px 15px;
}

textarea:focus{
    outline: 0;
}