<ion-content>
  <div class="container-box">{{funmap()}}
    <!-- <ion-item>{{funmap()}} -->
      <!-- <h1>Question</h1> -->
      <div class="question-text">{{text}}</div>
      <br><br>
      <div class="text-container">
        <textarea rows="6"></textarea>
      </div>
      <!-- <div class="grid-item">1</div> -->
      <!-- <div class="grid-item">2</div>  -->
      <!-- <input  type="number"> -->
      <!-- <input type="number" style="width: 30mm;"> -->
    <!-- </ion-item> -->
  </div>
</ion-content>
