<ion-content>
    <div class="home-container">
        <h2> Welcome to Survey</h2>
        <br>
        <ion-button  style="margin-bottom: 100mm;" (click)="start()" >start</ion-button>
    </div>
</ion-content>