ion-content{
  display: flex;
  justify-content: center;
}

.home-container{
  width: 20%;
  height: 200px;
  margin: 150px auto;
  border: 1px solid black;
  background-color: #fff;
  text-align: center;
  padding-top: 40px;
}