<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-router-outlet id="main-content">

      <ion-tabs >
      
        <ion-tab-bar slot="bottom" *ngIf="this.location.path()!='/home'">
          <ion-tab-button (click)="DataService.previous()" id='btnprevious'>
            <ion-icon name="arrow-back"></ion-icon>
            <ion-label>Previous</ion-label>
          </ion-tab-button>
      
          <ion-tab-button (click)="DataService.next()" id='btnnext'>
            <ion-icon name="arrow-forward"></ion-icon>
            <ion-label>Next</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      
      </ion-tabs>
      
    </ion-router-outlet>
  </ion-split-pane>    
</ion-app>
