ion-content {
    --ion-background-color:#98b4d4;
}

.container-box{
    width: 70%;
    margin: 80px auto;
    // border: 1px solid black;
    background-color: #fff!important;
    padding: 10px 30px 40px 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

ion-item{
    --ion-background-color: #fff!important;
    border: none!important;
    border-width: 0;
    --inner-border-width: 0 0 0 0;
}

ion-list{
    --ion-background-color: #fff!important;
    padding-top: 20px;
}

ion-col{
    // display: flex;
    // justify-content: center;
    // display: block;
    // text-align: center;
    height: 70px;
    // align-items: center;
    display: flex;
    // height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin: 1.5px;
    background-color: #fff;
    border: 1px solid #000;
    padding: auto;
  }