<ion-content>{{funmap()}}
  <div class="container-box">
<h5>Row wise</h5>    

  <ion-row>
    <ion-col col-4 class="columnhead">
      <ion-label>row\col</ion-label>
    </ion-col>

      <ion-col col-4  *ngFor="let c of grid.columns" class="columnhead">
        <ion-label>{{c}}</ion-label>
      </ion-col>
  </ion-row>

  <ion-row  *ngFor="let r of grid.rows; let i = index"  >
    <ion-col col-4 class="rowshead" >
      <ion-label>{{grid.rows[i]}}</ion-label>
    </ion-col>

    <ion-col col-4 *ngFor="let abc of grid.columns" >
      <label *ngIf="grid.direction=='row'" class="grid-radio-label"><input type="radio" name={{i}}></label>
      <label *ngIf="grid.direction=='column'" class="grid-radio-label"><input type="radio" name={{abc}}></label>
  </ion-col>
  </ion-row>

  <!-- <ion-row  *ngIf="other=='true' " >
    <ion-col col-4 class="rowshead" >
      <input type="text" style="width: 30mm;" >
      <ion-label>other </ion-label>
    </ion-col>

    <ion-col col-4 *ngFor="let abc of grid.columns" >
      <label *ngIf="grid.direction=='row'" class="grid-radio-label"><input type="radio" name='ab'></label>
      <label *ngIf="grid.direction=='column'" class="grid-radio-label"><input type="radio" name={{abc}}></label>
    </ion-col>
  </ion-row> -->


  </div>
</ion-content>